<%- include("partials/head"); -%>
<%- include("partials/header"); -%>
<%- include("partials/sidebar"); -%>



<main id="main" class="main">

    <div class="pagetitle">
      <h1>Exam Form</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Exam Form</h5>

              <!-- General Form Elements -->
              <form action="/addexam" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="examname" class="col-sm-2 col-form-label">Exam Name</label>
                  <div class="col-sm-10 col-12">
                    <input type="text" name = "examname"class="form-control" required>
                    <div class="invalid-feedback">Please, enter!</div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Exam Image</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>




<%- include("partials/footer"); -%>
<%- include("partials/foot"); -%>